@use '../3-modules/_modules'  as M
@use '../0-base/_base-mixins' as B
@use '../2-variebles/_variables' as V

header
    padding-inline: 7%
    padding-block: 4%
    background-image: url("../assets/imgs/mobile/bg1.png")
    background-position: center bottom
    background-size: cover
    background-repeat: no-repeat
    max-width: 1300px
    margin: auto
    position: relative

    @include B.tablet
        background-image: url("../assets/imgs/tablet/bg1.png")
        height: 700px
        background-size: cover
        background-position: 20% left
        padding-inline: 5%
    @include B.tablet2
        height: 780px

    @include B.desktops        
        background-image: url("../assets/imgs/desktop/bg-1.png")
        padding-inline: 150px
        padding-block: 4%
        background-position: center center
        height: 850px
        margin-bottom: -80px
        

    nav
        display: flex
        justify-content: space-between
        padding-inline: 2%
        // position: relative
        button
            display: none

        @include B.desktops
            .botoes
                display: flex
                gap: 5%
                font-size: .9em
                .btn, .btn-login
                    width: 100px
                    padding: 10px
                    display: block
                .btn-login
                    font-family: V.$font-title
                    font-size: 1.5em
                    border: 1px solid V.$white
                    color: V.$white
                    border-radius: 5px
                    &:hover
                        background-image: V.$BG-horizontal
                .anunciar
                    width: 200px

        a
            width: 25
            .logo
                width: 100%
        .menu-borger
            width: 7%
            z-index: 1
            @include B.tablet
                width: 5%
            &:hover
                cursor: pointer
                filter: brightness(50%)
            
            @include B.desktops
                display: none
        .menu-burger-none
            display: none
        .delete-ic
            // display: none
            z-index: 2
            width: 0px
            height: 0px
            position: absolute

            @include B.desktops
                display: none
        .delete-ic-active
            display: flex
            cursor: pointer
            position: static
            width: 30px
            height: 30px
            transition: all 1s

            @include B.tablet
                

            @include B.desktops
                display: none


        .content-menu
            z-index: 0
            height: 500px
            width: 0px
            background: V.$background
            position: absolute
            top: 0
            right: -1%
            transition: all .8s
            // border-radius: 15px
            border: solid 1px V.$secondary-100
            border-top: none
            padding-top: 90px
            border-bottom-left-radius: 10px
            @include B.tablet
                height: 100%
                border-bottom: none
                border-bottom-left-radius: 0px

            img
                display: none
                width: 70px
                margin-inline: auto
            a
                display: none
            
        .content-menu-active
            display: flex
            flex-direction: column
            width: 180px
            right: 0%

            gap: 40px
            padding-inline: 20px
            @include B.desktops
                display: none

            a
                border-bottom: 1px solid
                color: V.$white
                font-family: V.$font-title
                padding-bottom: 5px
                display: flex
                &:hover
                    background-image: V.$BG-horizontal
                    background-clip: text
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    cursor: pointer
            img
                display: flex


          
    .content
        padding-top: 67%
        text-align: center

        @include B.tablet
            text-align: start
            padding-top: 130px
            font-size: 0.9em
        @include B.desktops
            padding-top: 190px
        h1
            background-image: V.$GB-vertical
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-family: V.$font-title
            font-weight: 700
            line-height: 110%
            font-size: 2.4em
            letter-spacing: -1px
            strong
                transition: all 1s
                opacity: 1

            @include B.tablet
                width: 360px

            @include B.desktops
                width: 550px
                font-size: 3.2em
                
            strong
                -webkit-text-fill-color: V.$white
                color: V.$white

        p
            
            padding-block: 40px
            @include B.tablet
                width: 350px
                font-size: 1.1em
            

