@use '../3-modules/_modules'  as M
@use '../0-base/_base-mixins' as B
@use '../2-variebles/_variables' as V
    
.hero5
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center

    height: 1100px
    // border: 1px solid white
    padding-inline: 7%
    padding-top: 60px
    margin-top: -60px

    background-image: url("../assets/imgs/mobile/bg3.png")
    // background-size: cover
    background-repeat: no-repeat
    background-size:  100% 100%
    background-position: center bottom

    max-width: 1300px
    margin: auto

 


    @include B.tablet
        flex-direction: row
        text-align: left
        background-image: url("../assets/imgs/tablet/bg3.png")
        justify-content: space-between
        background-size: cover
        background-position: center center
        height: 1300px
    @include B.tablet2
        background-size: 100% 100%
        background-position: center center

    @include B.desktops
        justify-content: center
        gap: 30px
        background-image: url("../assets/imgs/desktop/bg-3.png")
        height: 1500px

    .card-area
        height: 500px
        // width: 70%
        width: 380px
        // background-color: red
        position: relative
       
        img
            width: 90%
            

        @include B.tablet
            width: 1500px
            margin-top: -300px
        
        @include B.desktops
            margin-bottom: 150px
            max-width: 400px
            margin-top: -360px
        
    
    .content
        display: flex
        flex-direction: column
        gap: 25px
        
        @include B.tablet
            margin-top: -150px
        @include B.desktops
            max-width: 450px
            margin-top: -450px
        
    h1
        font-family: V.$font-title  
        font-size: 2.1em
        strong
            display: block
        @include B.desktops
            font-size: 2.7em
    .btn
        width: 200px
        font-size: 1.4em
        padding: 9px
        @include B.desktops
            margin: 0px