@use '../3-modules/_modules'  as M
@use '../0-base/_base' as B
@use '../2-variebles/_variables' as V

    
body
    background-color: V.$background
    color: V.$white

h1
    font-size: 2em
// Dispositivo	Largura comum (em pixels)
// Celulares pequenos	320px - 480px
// Celulares médios (comuns)	480px - 768px
// Tablets	768px - 1024px
// Laptops	1024px - 1280px
// Desktops grandes	1280px+
// Monitores ultrawide	1600px+

header
    padding-inline: 7%
    padding-block: 4%
    background-image: url("../assets/imgs/bg-mobile/bg1.png")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    height: 100%
  
nav
    display: flex
    justify-content: space-between
    
    .logo
        width: 25%
    .menu-borger
        width: 7%

h1
    background-image: V.$GB-vertical
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent