@use '../3-modules/_modules'  as M
@use '../0-base/_base' as B
@use '../2-variebles/_variables' as V

    
body
    background-color: V.$background
    color: V.$white



header
    padding-inline: 7%
    padding-block: 4%
    background-image: url("../assets/imgs/bg-mobile/bg1.png")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    height: 100%

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 86.83%, #120428 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 17.1%, #120428 85.84%, #120428 91.82%), url("../assets/imgs/bg-mobile/bg1.png") lightgray -559.825px -5.123px / 259.175% 101.593% no-repeat, #120428
  
    nav
        display: flex
        justify-content: space-between
        padding-inline: 2%
        
        .logo
            width: 25%
        .menu-borger
            width: 7%
    .content
        padding-top: 67%
        text-align: center

    h1
        background-image: V.$GB-vertical
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-family: V.$font-title
        font-weight: 900
        line-height: 110%
        font-size: 2.4em
        letter-spacing: -1px
        strong
            -webkit-text-fill-color: V.$white
            color: V.$white

    p
        
        padding-block: 40px

main
    margin-top: 10px

    .empresas
        display: flex
        gap: 30px
        overflow-x: auto
        white-space: nowrap 
        padding: 20px
        scrollbar-width: none 

    .hero1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-inline: 7%
        padding-block: 4%

        background-image: url("../assets/imgs/bg-mobile/bg2.png")
        background-repeat: no-repeat
        background-size:  100% 85%
        background-position: center bottom
        .kratos
            width: 80%
            margin-right: 10%
        
        .hero-content
            display: flex
            flex-direction: column 
            gap: 20px
            text-align: center
            margin-top: -110px
            padding-bottom: 110px
            ul
                li
                    display: flex
                    gap: 20px
                    padding-block: 10px

    .hero2
        // background-color: red
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-inline: 7%
        padding-block: 4%
        gap: 20px
        .homen-aranha
            // background-color: red
            width: 100%
            margin-right: 8%
        
        .content-hero2
            margin-top: -20px
            display: flex
            flex-direction: column 
            gap: 20px
            text-align: center
            padding-bottom: 110px
            h1
                font-family: V.$font-title
                background-image: V.$GB-vertical

            .fogo-gif
                position: absolute
                width: 40px
                height: 40px
                top: 50%
                right: 33%

    .hero3
        display: flex
        flex-direction: column
        justify-content: center
        // background-color: red
        padding: 30px
        h1
            text-align: center
        .icons
            position: relative
            .icon
                display: flex
                margin-block: 30px
                align-items: center
                gap: 30px
                img
                    width: 80px
                    padding: 15px
                    background-color: #2F0C66
                    // padding: 25px
                    border-radius: 50%
            .barra
                position: absolute
                width: 10px
                height: 430px
                background-color: #2F0C66
                top: 15%
                left: 8%
                z-index: -1

        .filtro-city
            width: 200px
            border: 1px solid V.$white
            display: flex
            text-align: center
            justify-content: space-between
            margin: auto
            padding: 13px
            text-align: center
            backdrop-filter: blur(6.859205722808838px)   
            background: rgba(153, 153, 153, 0.24)
            color: V.$white
            font-family: V.$font-title
            font-size: 1.2em

    .hero4
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        gap: 20px
        position: relative

        .ghost-gif
            width: 100px
            position: absolute
            left: 1%
            bottom: 20%

        .baloes-gif
            width: 100px
            position: absolute
            right: -1%
            top: 20%

        h1
            font-size: 1.5em

        .GAMERS
            font-size: 5.2em
            font-family: V.$font-title
            font-weight: 700
            -webkit-text-stroke: 1px #EF6A5D
            color: transparent 
            margin: 1px
            margin-block: -40px
        
        img
            width: 75%
            margin-top: -10px

        .btn
            width: 55%
            padding: 10px
            font-size: 1em

    .hero5
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        text-align: center

        height: 1100px
        // border: 1px solid white
        padding-inline: 7%
        padding-top: 60px
        margin-top: -60px

        background-image: url("../assets/imgs/bg-mobile/bg3.png")
        // background-size: cover
        background-repeat: no-repeat
        background-size: cover
        background-position: center

        



        img
            width: 85%
        
        .content
            display: flex
            flex-direction: column
            gap: 25px
        h1
          font-family: V.$font-title  
          font-size: 2.5em

        p
            font-size: 20px
        .btn
            width: 200px
            font-size: 1.4em
            padding: 9px

footer
    margin-top: 100px
    background-color: red
    // display: flex
    // flex-direction: column
    // justify-content: center
    background-color: V.$secondary-700
    background: rgba(153, 153, 153, 0.04)
    backdrop-filter: blur(2px)

    padding-block: 15%
    
    h1
        text-align: center
        font-family: V.$font-title
        margin-bottom: 50px
    .contato-area
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 15px
        border-bottom: solid 2px #593D85
        padding-bottom: 35px
        
        .country-selection
            display: flex
            justify-content: center
            margin: 20px
            width: 250px
            justify-content: space-between
            align-items: center
            padding: 10px
        .redes-sociais
            display: flex
            gap: 20px
    
    .informations
        display: flex
        padding-inline: 7%
        padding-block: 8%
        justify-content: start
        gap: 20%
        border-bottom: solid 2px #593D85
        padding-bottom: 35px


        h2
            font-size: 2em
        div
            display: flex
            flex-direction: column
            gap: 20px


    .bottom
        display: flex
        justify-content: space-between
        padding-inline: 7%
        padding-block: 8% 0px
        .btn
            width: 200px
            padding: 13px
            font-size: 1.4em
            margin: 0px

