@use '../3-modules/_modules'  as M
@use '../0-base/_base' as B
@use '../2-variebles/_variables' as V

    
body
    background-color: V.$background
    color: V.$white

// Dispositivo	Largura comum (em pixels)
// Celulares pequenos	320px - 480px
// Celulares médios (comuns)	480px - 768px
// Tablets	768px - 1024px
// Laptops	1024px - 1280px
// Desktops grandes	1280px+
// Monitores ultrawide	1600px+

header
    padding-inline: 5%
    padding-block: 4%
    background-image: url("../assets/imgs/bg-mobile/bg1.png")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    height: 100%
  
nav
    display: flex
    justify-content: space-between
    padding-inline: 2%
    
    .logo
        width: 25%
    .menu-borger
        width: 7%
.content
    padding-top: 285px 
    text-align: center

    h1
        background-image: V.$GB-vertical
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-family: V.$font-title
        font-weight: 900
        line-height: 110%
        font-size: 2.4em
        letter-spacing: -1px
        strong
            -webkit-text-fill-color: V.$white
            color: V.$white

    p
        
        padding-block: 40px


