@use '../0-base/_base-mixins' as B
@use '../2-variebles/_variables' as V

.search-area
    // background-color: black
    padding: 5px 15px 15px 15px
    border: 0.686px solid #D9D9D9
    background: rgba(153, 153, 153, 0.24)
    backdrop-filter: blur(6.859205722808838px)

    @include B.tablet
        width: 350px
        height: 120px

    .search
        border-bottom: solid 1px V.$text-color
        text-align: center
        display: flex
        justify-content: space-between
        padding-block: 10px

        input
            color: V.$text-color
            font-size: 1.3em
            width: 80%
            height: 40px

            @include B.tablet
                height: 35px

        img
            width: 30px
            &:hover
                cursor: pointer
    .box-city     
        text-align: center
        display: flex
        justify-content: space-between
        padding-top: 20px
        text-align: center
        color: V.$white
        font-family: V.$font-title
        font-size: 1.1em

        @include B.tablet
            height: 35px

        &:hover
            cursor: pointer

        img
            width: 30px
            rotate: -90deg

.btn
    width: 100%
    margin: auto
    padding: 16px
    border-radius: 5px
    background-image: V.$BG-horizontal
    border: solid 1px V.$white
    color: V.$white
    font-family: V.$font-title
    font-size: 1.5em

    &:hover
        background-image: V.$hover-vertical

.xp-box
    position: relative
    display: flex
    justify-content: center
    width: 100%
    max-width: 450px
    margin: auto

    @include B.tablet
        margin: 0px
        justify-content: start
    img
        height: 130px
        width: 95%

    .xp-txt
        font-size: 1.7em

        position: absolute
        top: 20%
        margin: auto
        background-image: V.$GB-vertical
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-weight: bold

        @include B.tablet
            left: 15%
        strong
            -webkit-text-fill-color: V.$white
            color: V.$white    
            font-weight: bold 

