*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  color: #D9D9D9;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #D9D9D9;
  line-height: 155.99%;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 2.5em;
  background-image: linear-gradient(45deg, #E54A64 16.1%, #FE9652 61.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 110%;
  font-size: 2.4em;
  letter-spacing: -1px;
  font-family: "Oxanium", sans-serif;
}

p {
  color: #D9D9D9;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #D9D9D9;
  line-height: 155.99%;
}

.search-area {
  padding: 5px 15px 15px 15px;
  border: 0.686px solid #D9D9D9;
  background: rgba(153, 153, 153, 0.24);
  backdrop-filter: blur(6.8592057228px);
}
@media (min-width: 768px) {
  .search-area {
    width: 350px;
    height: 120px;
  }
}
.search-area .search {
  border-bottom: solid 1px #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
}
.search-area .search input {
  color: #D9D9D9;
  font-size: 1.3em;
  width: 80%;
  height: 40px;
}
@media (min-width: 768px) {
  .search-area .search input {
    height: 35px;
  }
}
.search-area .search img {
  width: 30px;
}
.search-area .search img:hover {
  cursor: pointer;
}
.search-area .box-city {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-family: "Oxanium", sans-serif;
  font-size: 1.1em;
}
@media (min-width: 768px) {
  .search-area .box-city {
    height: 35px;
  }
}
.search-area .box-city:hover {
  cursor: pointer;
}
.search-area .box-city img {
  width: 30px;
  rotate: -90deg;
}

.btn {
  width: 100%;
  margin: auto;
  padding: 16px;
  border-radius: 5px;
  background-image: linear-gradient(270deg, #E77460 12.81%, #E54A64 78.75%);
  border: solid 1px white;
  color: white;
  font-family: "Oxanium", sans-serif;
  font-size: 1.5em;
}
.btn:hover {
  background-image: linear-gradient(45deg, #db425b 16.1%, #fc9048 61.88%);
}

.xp-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.xp-box img {
  height: 130px;
  width: 95%;
}
.xp-box .xp-txt {
  font-size: 1.7em;
  position: absolute;
  top: 20%;
  margin: auto;
  background-image: linear-gradient(45deg, #E54A64 16.1%, #FE9652 61.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.xp-box .xp-txt strong {
  -webkit-text-fill-color: white;
  color: white;
  font-weight: bold;
}

header {
  padding-inline: 7%;
  padding-block: 4%;
  background-image: url("../assets/imgs/mobile/bg1.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  header {
    background-image: url("../assets/imgs/tablet/bg1.png");
    height: 700px;
    background-size: cover;
    background-position: 20% left;
    padding-inline: 5%;
  }
}
@media (min-width: 900px) {
  header {
    height: 780px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 2%;
}
header nav a {
  width: 25;
}
header nav a .logo {
  width: 100%;
}
header nav .menu-borger {
  width: 7%;
}
header nav .menu-borger:hover {
  cursor: pointer;
  filter: brightness(50%);
}
header .content {
  padding-top: 67%;
  text-align: center;
}
@media (min-width: 768px) {
  header .content {
    text-align: start;
    padding-top: 130px;
    font-size: 0.9em;
  }
}
header h1 {
  background-image: linear-gradient(45deg, #E54A64 16.1%, #FE9652 61.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 2.4em;
  letter-spacing: -1px;
}
header h1 strong {
  -webkit-text-fill-color: white;
  color: white;
}
@media (min-width: 768px) {
  header h1 {
    width: 360px;
  }
}
header p {
  padding-block: 40px;
}
@media (min-width: 768px) {
  header p {
    width: 350px;
    font-size: 1.1em;
  }
}

.hero1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 7%;
  padding-block: 4%;
  background-image: url("../assets/imgs/mobile/bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-position: center bottom;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hero1 {
    height: 1300px;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 5%;
    background-position: bottom bottom;
    background-size: cover;
    background-image: url("../assets/imgs/tablet/bg2.png");
    background-size: 100% 50%;
    margin-bottom: -180px;
    justify-content: space-between;
  }
}
.hero1 .kratos {
  width: 80%;
  margin-right: 10%;
}
@media (min-width: 768px) {
  .hero1 .kratos {
    margin-left: -20%;
    margin-right: 0px;
    width: 70%;
  }
}
@media (min-width: 900px) {
  .hero1 .kratos {
    margin-left: -14%;
  }
}
.hero1 .hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: -110px;
  padding-bottom: 110px;
}
@media (min-width: 768px) {
  .hero1 .hero-content {
    padding-block: 50px;
    text-align: left;
    max-width: 500px;
  }
}
.hero1 .hero-content h1 {
  font-family: "Oxanium", sans-serif;
}
.hero1 .hero-content ul li {
  display: flex;
  gap: 30px;
  padding-block: 17px;
  font-size: 1.2em;
}
.hero1 .hero-content ul li img {
  width: 30px;
}

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 7%;
  padding-block: 4%;
  gap: 20px;
  margin-bottom: -90px;
}
@media (min-width: 768px) {
  .hero2 {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 5%;
  }
}
.hero2 .homen-aranha {
  margin-right: 8%;
}
@media (min-width: 768px) {
  .hero2 .homen-aranha {
    margin-right: -120px;
    width: 100%;
    max-width: 800px;
  }
}
.hero2 .content-hero2 {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-bottom: 110px;
}
@media (min-width: 768px) {
  .hero2 .content-hero2 {
    margin-right: -100px;
    padding-block: 0;
    text-align: left;
    max-width: 410px;
  }
}
.hero2 .content-hero2 h1 {
  font-family: "Oxanium", sans-serif;
  background-image: linear-gradient(45deg, #E54A64 16.1%, #FE9652 61.88%);
}
@media (min-width: 768px) {
  .hero2 .content-hero2 h1 {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .hero2 .content-hero2 p {
    width: 100%;
  }
}
.hero2 .content-hero2 .fogo-gif {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 33%;
}

.hero3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .hero3 {
    margin-block: 100px;
  }
}
.hero3 h1 {
  text-align: center;
}
.hero3 .icons {
  position: relative;
}
@media (min-width: 768px) {
  .hero3 .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.hero3 .icons .icon {
  display: flex;
  margin-block: 30px;
  align-items: center;
  gap: 30px;
  color: #D9D9D9;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #D9D9D9;
  line-height: 155.99%;
  position: relative;
}
@media (min-width: 768px) {
  .hero3 .icons .icon {
    flex-direction: column;
    justify-content: center;
    align-items: ce;
    text-align: center;
    width: 150px;
  }
}
.hero3 .icons .icon .icone {
  width: 80px;
  padding: 15px;
  background-color: #2F0C66;
  border-radius: 50%;
}
.hero3 .icons .barra {
  position: absolute;
  width: 10px;
  height: 430px;
  background-color: #2F0C66;
  top: 15%;
  left: 34px;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero3 .icons .barra {
    display: none;
  }
}
.hero3 .filtro-city {
  width: 200px;
  border: 1px solid white;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  padding: 13px;
  text-align: center;
  backdrop-filter: blur(6.8592057228px);
  background: rgba(153, 153, 153, 0.24);
  color: white;
  font-family: "Oxanium", sans-serif;
  font-size: 1.2em;
  margin-top: 35px;
}
.hero3 .filtro-city:hover {
  cursor: pointer;
}
.hero3 .filtro-city img {
  rotate: -90deg;
}

.hero4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.hero4 .ghost-gif {
  width: 100px;
  position: absolute;
  left: 1%;
  bottom: 10%;
}
@media (min-width: 768px) {
  .hero4 .ghost-gif {
    width: 160px;
  }
}
.hero4 .baloes-gif {
  width: 100px;
  position: absolute;
  right: -1%;
  top: 20%;
}
@media (min-width: 768px) {
  .hero4 .baloes-gif {
    width: 160px;
  }
}
.hero4 h1 {
  font-size: 2.2em;
  z-index: 1;
  margin-bottom: -20px;
}
.hero4 .GAMERS {
  z-index: -1;
  font-size: 5.2em;
  font-family: "Oxanium", sans-serif;
  font-weight: 800;
  -webkit-text-stroke: 1px #EF6A5D;
  color: transparent;
  margin: 1px;
  margin-block: -40px;
}
@media (min-width: 768px) {
  .hero4 .GAMERS {
    font-weight: 900;
    text-shadow: 1px black;
    font-size: 9.2em;
    margin-bottom: -80px;
    text-shadow: 0px 0px 0px rgba(240, 10, 10, 0.0745098039);
  }
}
.hero4 img {
  width: 75%;
  margin-top: -10px;
}
.hero4 .btn {
  width: 55%;
  padding: 10px;
  font-size: 1em;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hero4 .btn {
    font-size: 1.5em;
    padding: 20px 10px;
    width: 50%;
  }
}

.hero5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 1100px;
  padding-inline: 7%;
  padding-top: 60px;
  margin-top: -60px;
  background-image: url("../assets/imgs/mobile/bg3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .hero5 {
    flex-direction: row;
    text-align: left;
    background-image: url("../assets/imgs/tablet/bg3.png");
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    height: 1300px;
  }
}
@media (min-width: 900px) {
  .hero5 {
    background-size: 100% 100%;
    background-position: center center;
  }
}
.hero5 img {
  width: 70%;
}
@media (min-width: 768px) {
  .hero5 img {
    width: 50%;
    max-width: 500px;
    margin-top: -100px;
  }
}
.hero5 .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .hero5 .content {
    margin-top: -150px;
  }
}
.hero5 h1 {
  font-family: "Oxanium", sans-serif;
  font-size: 2.1em;
}
.hero5 h1 strong {
  display: block;
}
.hero5 .btn {
  width: 200px;
  font-size: 1.4em;
  padding: 9px;
}

footer {
  margin-top: 100px;
  background-color: #25064B;
  background: rgba(153, 153, 153, 0.04);
  backdrop-filter: blur(2px);
  padding-block: 10%;
}
footer h1 {
  text-align: center;
  font-family: "Oxanium", sans-serif;
  margin-bottom: 50px;
}
footer .contato {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px #593D85;
  padding-bottom: 35px;
  padding-inline: 5%;
}
@media (min-width: 768px) {
  footer .contato {
    flex-direction: row;
    align-items: center;
    padding-block: 35px;
  }
  footer .contato h1 {
    text-align: left;
    margin: 0px;
  }
  footer .contato h1 strong {
    display: block;
  }
}
footer .contato .contato-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer .contato .contato-area .country-selection {
  display: flex;
  justify-content: center;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer .contato .contato-area .country-selection:hover {
  cursor: pointer;
}
footer .contato .contato-area .country-selection .ceta {
  rotate: -90deg;
}
footer .contato .contato-area .redes-sociais {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  footer .contato .contato-area .redes-sociais img {
    width: 27px;
  }
}
footer .contato .contato-area .redes-sociais img:hover {
  cursor: pointer;
}
footer .informations {
  display: flex;
  padding-inline: 7%;
  padding-block: 8%;
  justify-content: space-between;
  border-bottom: solid 2px #593D85;
}
@media (min-width: 768px) {
  footer .informations {
    justify-content: start;
    gap: 60px;
  }
  footer .informations .footer-hero {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
footer .informations h2 {
  font-size: 1.7em;
}
footer .informations div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 7%;
  padding-block: 8% 0px;
}
footer .bottom .btn {
  width: 200px;
  padding: 5px;
  font-size: 100%;
  margin: 0px;
}

body {
  background-color: #120428;
  color: white;
}

main {
  margin-top: 10px;
}
main .empresas {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  scrollbar-width: none;
}
main .empresas img:hover {
  cursor: pointer;
  filter: brightness(250%) contrast(120%);
  background-color: rgba(12, 9, 27, 0.2823529412);
}
@media (min-width: 768px) {
  main .empresas {
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
